vti_encoding:SR|utf8-nl
vti_author:SR|DESKTOP-LQA9Q2H\\eyado
vti_modifiedby:SR|DESKTOP-LQA9Q2H\\eyado
vti_timelastmodified:TR|19 Jun 2017 04:07:49 -0000
vti_timecreated:TR|13 Jun 2017 13:07:30 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|main.html
vti_nexttolasttimemodified:TW|19 Jun 2017 04:05:30 -0000
vti_cacheddtm:TX|19 Jun 2017 04:07:49 -0000
vti_filesize:IR|1939
vti_cachedlinkinfo:VX|S|arrow_prev.png S|arrow_next.png S|bullet_grey.png S|bullet_yellow.png S|black-dot.png
vti_cachedsvcrellinks:VX|FSUS|css/arrow_prev.png FSUS|css/arrow_next.png FSUS|css/bullet_grey.png FSUS|css/bullet_yellow.png FSUS|css/black-dot.png
